@model ProjetoEstagio.Application.ViewModels.ComputadorViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top row">
        <div class="container">
            <div class="navbar-header col-lg-12">
                <div class="col-lg-5">
                    <span class="nomeEmpresaNavBar">Projeto Estágio</span>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-lg-1">
                    @Html.ActionLink("Sair", "Sair", "Account", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>

        </div>
    </div>

    <div class="container body-content ">
        @using (Html.BeginForm("CreateComputador", "Computador"))
        {
            <h3>Incluir Novo Computador</h3>
            <div class="form-group divFormComputador row">
                <div class="col-xs-3 col-sm-3 col-md-3 divFormComputadorCampos">
                    @Html.LabelFor(model => model.Processador.Modelo, htmlAttributes: new { @class = "control-label" }) <b class="text-danger">*</b>
                    @Html.TextBoxFor(model => model.Processador.Modelo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Processador.Modelo)
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 divFormComputadorCampos">
                    @Html.LabelFor(model => model.Processador.Marca, htmlAttributes: new { @class = "control-label" }) <b class="text-danger">*</b>
                    @Html.TextBoxFor(model => model.Processador.Marca, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Processador.Marca)
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 divFormComputadorCampos">
                    @Html.LabelFor(model => model.Processador.Velocidade, htmlAttributes: new { @class = "control-label" }) <b class="text-danger">*</b>
                    @Html.TextBoxFor(model => model.Processador.Velocidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Processador.Velocidade)
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 divFormComputadorCampos">
                    @Html.LabelFor(model => model.PlacaMae.Modelo, htmlAttributes: new { @class = "control-label" }) <b class="text-danger">*</b>
                    @Html.TextBoxFor(model => model.PlacaMae.Modelo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PlacaMae.Modelo)
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 divFormComputadorCampos">
                    @Html.LabelFor(model => model.PlacaMae.Marca, htmlAttributes: new { @class = "control-label" }) <b class="text-danger">*</b>
                    @Html.TextBoxFor(model => model.PlacaMae.Marca, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PlacaMae.Marca)
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        }
    </div>

    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Lista.js"></script>
</body>
</html>
