@model ProjetoEstagio.Application.ViewModels.HdViewModel

@using (Html.BeginForm("EditHdMais", "Computador"))
{
    @Html.HiddenFor(model => model.IdComputadorUltimo)
    @Html.HiddenFor(model => model.ID)
    <h3>Editar Computador - Incluir HD</h3>
    <div class="form-group divFormComputador row">
        <div class="col-xs-12 col-sm-12 col-md-12 divFormComputadorCampos">
            @Html.LabelFor(model => model.Capacidade, htmlAttributes: new { @class = "control-label" })<b class="text-danger">*</b>
            @Html.TextBoxFor(model => model.Capacidade, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Capacidade)
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Incluir</button>
    </div>

}
